.form{
    background-color: rgb(204, 118, 5);
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.form-group{
    padding: 5px;
}

.form form{
    display: flex;
}


.itemLabelDropdown{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


.dropoDown{
    width: 60px;
    height: 30px;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: rgb(248, 226, 192);
    text-align: center;
}

.itemInput{
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 20px;
    background-color: rgb(248, 226, 192);
    text-align: center;
}

.submitBtn{
    height: 30px;
    width: 80px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: rgb(120, 191, 224);
}


.submitBtn:hover {
    background-color: rgb(103, 184, 221);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
